.header{
    height:300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


.inputSearch{
    width:400px;
    height: 30px;
    margin-top: 15px;
}
.button{
    height:35px;
    width:100px;
    margin-left: 2px;
    font-size: 20px;
    cursor: pointer;
}