.body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.images{
width: 200px;
height: 200px;

}

/* .grid{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 200px 200px ;
    grid-gap: 20px;
    
} */