.body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    /* width: 50%; */
}

.images{
width: 200px;
height: 200px;

}

@media only screen and (max-width:1000px){
    .images{
        width:100p;
        height: 100px;
    }
}