.trendBody{
    display: flex;
    align-items: center;
    justify-content: center;
}

.trendGifImages{
width: 100%;
height: 100%;

}

.innerTrend{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 200px 200px ;
    grid-gap: 20px;
    
}

@media only screen and (max-width:1000px){
    .innerTrend{
        grid-template-columns: 100px 100px 100px;
        grid-template-rows: 100px 100px 100px 100px ;
       }

       .trendBody{
           margin-top: -100px;
       }
}